In [64]:
import pandas as pd
import numpy as np

df = pd.read_csv("호주_세관_전체.csv")

In [66]:
print(len(df))
text = df['text']
df[380:382]

1680

,date,link,title,text
380,2018-12-10,https://www.abf.gov.au/help-and-support-subsit...,Luxury Car Tax Threshold and Fuel Efficient Ve...,' australian government 't australian customs...
381,2018-12-10,https://www.abf.gov.au/help-and-support-subsit...,New sanctions against the Central African Repu...,NONE

In [67]:
df['text'].replace("NONE", np.nan, inplace=True)

In [73]:
df = df.dropna()

In [74]:
print(len(df))
text = df['text']
df[380:382]

1663

,date,link,title,text
384,2018-12-10,https://www.abf.gov.au/help-and-support-subsit...,Approved course of study for a customs broker’...,australian customs and border protection noti...
385,2018-12-10,https://www.abf.gov.au/help-and-support-subsit...,Application for Customs Broker licence,australian customs and border protection noti...

In [79]:
df.to_csv('호주_세관_전체(결측치 제거).csv', mode='w', encoding='utf-8-sig', index = False)